html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

/* Fixierte Navigation */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Breite über die gesamte Seite */
  display: flex;
  justify-content: center; /* Zentriert die Inhalte */
  align-items: center;
  padding: 15px 0;
  height: 110px;
  background: transparent;
  transition: background 0.1s ease-in-out;
  z-index: 1000; /* Stellt sicher, dass die Navbar über dem Bild bleibt */
}

.nav-bar .container {
  width: 1000px; /* Beibehaltung der 1000px Breite für den Inhalt */
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar.scrolled {
  background: #0075d2; /* Blaue Farbe */
}

.logo img {
  height: 80px;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* Vertikale Zentrierung */
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

nav .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0075d2; /* Gleiche blaue Farbe wie "MEHR INFOS" */
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease, transform 0.1s ease;
}

nav .btn:hover {
  background-color: #1b4fc7; /* Dunkleres Blau beim Hover */
  color: white; /* Beibehaltung der weißen Textfarbe */
}

nav .btn:active {
  transform: scale(0.98); /* Klick-Animation */
}

.nav-bar.scrolled .btn {
  background-color: white; /* Hintergrund wird weiß */
  color: #0075d2; /* Text wird blau */
}

.nav-bar.scrolled .btn:hover {
  background-color: #f1f1f1; /* Etwas dunkleres Weiß beim Hover */
}

nav a:hover {
  color: white; /* Standardfarbe für alle Links */
}

/* Header */
.header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("/images/header/main.webp") no-repeat center 70% / cover;
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-plagwitz {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url("/images/header/plagwitz.webp") no-repeat center 100% / cover;
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-wohnung2 {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url("/images/header/wohnung2.webp") no-repeat center 155% / cover;
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-wohnung3 {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url("/images/header/wohnung3.webp") no-repeat center 165% / cover;
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-ausstattung {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url("/images/header/ausstattung.webp") no-repeat center 285% /
    cover;
  background-attachment: fixed; /* Hintergrund bleibt beim Scrollen fixiert */
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-plagwitz {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center; /* Statt center → linksbündig */
  align-items: center;
}

.overlay-plagwitz .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* Zentriert den Container auf der Seite */
  text-align: left;
  margin-top: 65px;
}

.overlay-wohnung2 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center; /* Statt center → linksbündig */
  align-items: center;
}

.overlay-wohnung2 .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* Zentriert den Container auf der Seite */
  text-align: left;
  margin-top: 65px;
}

.overlay-wohnung3 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center; /* Statt center → linksbündig */
  align-items: center;
}

.overlay-wohnung3 .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* Zentriert den Container auf der Seite */
  text-align: left;
  margin-top: 65px;
}

.overlay-ausstattung {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center; /* Statt center → linksbündig */
  align-items: center;
}

.overlay-ausstattung .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* Zentriert den Container auf der Seite */
  text-align: left;
  margin-top: 65px;
}

/* Header-Text */
.header-content {
  text-align: left;
  max-width: 1000px;
  color: white;
}

.header-text {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Stapelt die Elemente vertikal */
  align-items: center; /* Zentriert den Inhalt */
  padding: 80px 0;
  background: white;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Damit der Container im Layout bleibt */
  max-width: 1000px; /* Feste Begrenzung */
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: stretch; /* Beide Elemente haben gleiche Höhe */
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.about-content .text {
  width: 65%;
}

.about-content .text-plagwitz {
  width: 100%;
}

.about-content .image {
  width: 35%;
  height: 440px;
  flex-grow: 1;
  overflow: hidden; /* Schneidet das Bild innerhalb des Radius ab */
  position: relative;
}

.about-content .image::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 130%;
  background: url("/images/plagwitz.webp") no-repeat 10% 30% / 90%;
}

.blue-text {
  color: #0075d2;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.read-more {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0075d2; /* Blau wie auf dem Screenshot */
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease, transform 0.1s ease;
}

.read-more:hover {
  background-color: #1b4fc7; /* Dunkleres Blau beim Hover */
  color: white; /* Beibehaltung der weißen Textfarbe */
}

.read-more:active {
  transform: scale(0.98); /* Klick-Animation */
}

.wohnung-grundriss img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: -90px auto; /* Zentriert das Bild horizontal */
  display: block; /* Notwendig, damit `margin: auto` funktioniert */
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.wohnungs-grundriss img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: 35px auto; /* Zentriert das Bild horizontal */
  display: block; /* Notwendig, damit `margin: auto` funktioniert */
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.apartments {
  background: #f3faff; /* Hintergrundfarbe der Section */
  padding: 80px 0;
}

.apartments .container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.apartments h3 {
  color: #0075d2;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.apartments h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.apartments p {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  margin-bottom: 30px;
}

.apartment-list {
  display: flex;
  justify-content: space-between;
}

.apartment {
  width: 49%;
  text-align: left;
}

.apartment-image {
  width: 100%;
  height: 500px;
  background: url("/images/grundrisse/we_mitte.webp") no-repeat center center /
    cover;
  margin-bottom: 10px;
  margin-top: -20px;
  background-size: contain; /* Das Bild wird vollständig angezeigt */
}

.apartment:nth-child(2) .apartment-image {
  background: url("/images/grundrisse/we_rechts.webp") no-repeat center center /
    cover;
  background-size: contain; /* Das Bild wird vollständig angezeigt */
}

.apartment p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Button-Styling */
.apartment .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0075d2;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}

.apartment .btn:hover {
  background-color: #1b4fc7;
}

.wohnung-details {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
}

.size-icon {
  width: 17.5px; /* Größe des Icons */
  height: 17.5px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 2px;
  margin-bottom: 4px;
  vertical-align: middle;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.zimmer-icon {
  width: 19.5px; /* Größe des Icons */
  height: 19.5px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 7px;
  margin-left: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.price-icon {
  width: 18px; /* Größe des Icons */
  height: 18px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 9px;
  margin-left: 24px;
  vertical-align: middle;
  margin-bottom: 2px;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.trenner {
  width: 60%; /* Volle Breite */
  height: 1px; /* Dünne Linie */
  background: #0075d2;
  margin-top: -4px;
  margin-bottom: 10px;
}

.ausstattung {
  background: #fff;
  padding: 80px 0;
}

.ausstattung .container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.ausstattung h3 {
  color: #0075d2;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ausstattung h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.ausstattung p {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  margin-bottom: 20px;
}

.ausstattung-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.ausstattung-item {
  display: flex;
  align-items: center;
  width: 49%;
  gap: 15px;
  margin-bottom: 15px;
}

.ausstattung-item img {
  width: 98px;
  height: 98px;
  object-fit: cover;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.ausstattung-item h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ausstattung-item p {
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.ausstattung .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0075d2;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.ausstattung .btn:hover {
  background-color: #1b4fc7;
}

.image-slider {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  gap: 3px;
}

.slider img {
  width: 400px; /* Fixe Breite für jedes Bild */
  height: 400px; /* Beibehalten oder anpassen */
  object-fit: cover;
  flex-shrink: 0;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0075d2;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  z-index: 10;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

.slider-btn:hover {
  background-color: #1b4fc7;
}

.contact {
  background: #0075d2; /* Blaue Hintergrundfarbe */
  padding: 80px 0;
  color: white;
}

.contact .container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Kopfbereich: Überschriften und Einleitung */
.contact-header {
  text-align: left;
  margin-bottom: 40px;
}

.contact-header h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

.contact-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: -15px;
}

/* Zwei Spalten: Formular und Karte */
.contact-columns {
  display: flex;
  gap: 50px;
}

.contact-form {
  width: 55%;
}

.contact-map {
  width: 50%;
}

/* Formular-Styling (bleibt weitgehend gleich) */
.contact form {
  display: flex;
  flex-direction: column;
}

.contact form label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 18px;
  border: none;
  border-bottom: 1.5px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  border-bottom: 1.5px solid #f1f1f1;
}

.contact form textarea {
  resize: none;
  height: 100px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Abstand zwischen Text und Icon */
}

.contact-icon {
  width: 22px; /* Größe des Icons */
  height: 22px;
  object-fit: contain;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
  opacity: 0.85;
}

.required {
  font-size: 11px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
}

.contact .btn {
  background-color: #fff;
  color: #0075d2;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact .btn:hover {
  background-color: #f1f1f1;
}

.contact-map {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  flex-grow: 1; /* Sorgt dafür, dass die Karte sich dem Container anpasst */
}

.contact-address {
  padding-bottom: 25px;
  text-align: left;
}

.contact-address h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-address p {
  font-size: 16px;
  margin-bottom: 4px 0;
}

.contact-address a {
  color: white;
  text-decoration: none;
}

.contact-address a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  background: #fff;
  padding: 40px 0;
  color: #333;
  text-align: center;
  overflow: visible;
}

.footer::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 120%;
  background: url("/images/footer.svg") no-repeat center bottom;
  background-size: contain; /* Hier die Größe des Bildes anpassen */
  opacity: 0.06; /* Hier kannst du die Transparenz anpassen */
  z-index: 1;
  /* Erzeugt einen sanften Fade-Effekt an den Seiten */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 26%,
    black 72%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 26%,
    black 72%,
    transparent
  );
}

.footer .container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  color: #333;
}

.footer-logo img {
  height: 80px;
  pointer-events: none !important; /* Verhindert jegliche Mausinteraktion */
  user-select: none !important; /* Verhindert das Markieren */
  -webkit-user-drag: none !important; /* Speziell für WebKit-Browser */
  -moz-user-select: none !important; /* Für Firefox */
  -ms-user-select: none !important; /* Für Internet Explorer */
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 35px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #0075d2; /* Helles Blau beim Hover */
}

.footer-copy {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}
