:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --blau-farbe: #0075d2;
  --dunkelblau-farbe: #1b4fc7;
  --text-farbe: #333;
  --hintergrund-farbe: #fff;
  --grau-farbe: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  hyphens: auto;
}

body {
  background-color: var(--hintergrund-farbe);
  color: var(--text-farbe);
}

.container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  height: 110px;
  background: transparent;
  transition: background 0.1s ease-in-out;
  z-index: 1000;
}

.nav-bar .container {
  width: 1000px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar.scrolled {
  background: var(--blau-farbe);
}

.logo {
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  margin-top: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: var(--hintergrund-farbe);
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

nav .btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--blau-farbe);
  color: var(--hintergrund-farbe);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease, transform 0.1s ease;
}

nav .btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/contact.svg") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: -6px;
}

nav .btn:hover {
  background-color: var(--dunkelblau-farbe);
  color: var(--hintergrund-farbe);
}

nav .btn:active {
  transform: scale(0.98);
}

.nav-bar.scrolled .btn {
  background-color: var(--hintergrund-farbe);
  color: var(--blau-farbe);
}

.nav-bar.scrolled .btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/contactblue.svg") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: -6px;
}

.nav-bar.scrolled .btn:hover {
  background-color: var(--grau-farbe);
}

nav a:hover {
  color: var(--hintergrund-farbe);
}

.header {
  position: relative;
  width: 100%;
  height: 475px;
  background: url("/images/header/main.webp") no-repeat center 45% / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-plagwitz {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/plagwitz.webp") no-repeat center 32% / cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-wohnung2 {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/wohnung2.webp") no-repeat center 75% / cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-wohnung3 {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/wohnung3.webp") no-repeat center 75% / cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-ausstattung {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/ausstattung.webp") no-repeat center 55% /
    cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-downloads {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/downloads.webp") no-repeat center 75% / cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.header-ueberuns {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/images/header/ueberuns.webp") no-repeat center 35% / cover;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-plagwitz {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-plagwitz .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.overlay-wohnung2 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-wohnung2 .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.overlay-wohnung3 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-wohnung3 .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.overlay-ausstattung {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-ausstattung .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.overlay-downloads {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-downloads .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.overlay-ueberuns {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-ueberuns .header-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
}

.header-content {
  text-align: left;
  max-width: 1000px;
  color: var(--hintergrund-farbe);
}

.header-text {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background: white;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.about-content2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.bild-plagwitz {
  flex: 1;
  width: 100%;
  height: auto;
  flex-grow: 1;
  background: url("/images/plagwitz/giesserei.webp") no-repeat 45% center;
  background-size: cover;
  display: flex;
}

.about-content .text {
  width: 65%;
}

.about-content .text-plagwitz {
  width: 100%;
}

.about-content .image {
  width: 35%;
  height: 440px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.about-content .image::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 130%;
  background: url("/images/plagwitz/plagwitz.webp") no-repeat 10% 30% / 90%;
}

.blue-text {
  color: var(--blau-farbe);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.about-content2 h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.slider-custom-container h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.about-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-content2 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.s-bahn-symbol {
  display: inline-block;
  background-color: #ffcc00;
  color: black;
  font-weight: 600;
  letter-spacing: 0-5px;
  text-align: center;
  border-radius: 50px;
  font-size: 12.96px;
  padding: 3.24px 2.43px;
  min-width: 38px;
}

.s-bahn-symbolrb13 {
  display: inline-block;
  background-color: #f18700;
  color: white;
  font-weight: 600;
  letter-spacing: 0-5px;
  text-align: center;
  font-size: 12.96px;
  padding: 3.24px 2.43px;
  min-width: 38px;
}

.s-bahn-symbolrb22 {
  display: inline-block;
  background-color: #009bd9;
  color: white;
  font-weight: 600;
  letter-spacing: 0-5px;
  text-align: center;
  font-size: 12.96px;
  padding: 3.24px 2.43px;
  min-width: 38px;
}

.s-bahn-symbolre13 {
  display: inline-block;
  background-color: #00998b;
  color: white;
  font-weight: 600;
  letter-spacing: 0-5px;
  text-align: center;
  font-size: 12.96px;
  padding: 3.24px 2.43px;
  min-width: 38px;
}

.s-bahn-symbolre12 {
  display: inline-block;
  background-color: #a5027d;
  color: white;
  font-weight: 600;
  letter-spacing: 0-5px;
  text-align: center;
  font-size: 12.96px;
  padding: 3.24px 2.43px;
  min-width: 38px;
}

.bus {
  display: inline-block;
  background-color: #a71681;
  color: white;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 26.73px;
  border-radius: 50px;
  vertical-align: middle;
}

.busn1 {
  display: inline-block;
  background-color: #f7a600;
  color: #164194;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 26.73px;
  border-radius: 50px;
  vertical-align: middle;
}

.busn60 {
  display: inline-block;
  background-color: #a71681;
  color: white;
  font-weight: 600;
  font-size: 12.4px;
  letter-spacing: -0.9px;
  padding: 4px 2.2px;
  text-align: center;
  min-width: 26.73px;
  border-radius: 50px;
  vertical-align: middle;
}

.bahn3 {
  display: inline-block;
  background-color: #65b32e;
  color: white;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 26.73px;
}

.bahn2 {
  display: inline-block;
  background-color: #ffcc00;
  color: black;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 26.73px;
}

.bahn14 {
  display: inline-block;
  background-color: #009fe3;
  color: white;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 26.73px;
}

.autobahn {
  display: inline-block;
  background-color: #0038b7;
  color: white;
  font-weight: 600;
  font-size: 12.96px;
  letter-spacing: 0px;
  padding: 3.24px 2.43px;
  text-align: center;
  min-width: 35px;
}

.icon-steckbrief {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -2px;
  margin-bottom: 2px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.icon-pin {
  width: 24px;
  height: 24px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: -4px;
  margin-bottom: 2px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.icon-verkehr {
  width: 22px;
  height: 22px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: -2px;
  margin-bottom: 2px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.icon-auto {
  width: 16px;
  height: 16px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 8px;
  margin-bottom: 2px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.icon-fahrrad {
  width: 21px;
  height: 21px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 1px;
  margin-bottom: 2.5px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.infoplagwitz {
  font-size: 14px;
  font-weight: 100;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-style: italic;
}

.karteplagwitz {
  height: 340px;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: -45px;
}

.read-more {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--blau-farbe);
  color: var(--hintergrund-farbe);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease, transform 0.1s ease;
}
.read-more::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/more.svg") no-repeat center center;
  background-size: contain;
  margin-right: 8px;
  margin-bottom: 1px;
  margin-left: -4px;
}

.read-more:hover {
  background-color: var(--dunkelblau-farbe);
  color: var(--hintergrund-farbe);
}

.read-more:active {
  transform: scale(0.98);
}

.wohnung-grundriss img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: -90px auto;
  display: block;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.wohnungs-grundriss img {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: 35px auto;
  display: block;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.apartments {
  background-color: rgba(0, 117, 210, 0.075);
  padding: 80px 0;
}

.apartments .container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.apartments h3 {
  color: var(--blau-farbe);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.apartments h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.apartments p {
  font-size: 18px;
  font-weight: 300;
  color: var(--text-farbe);
  margin-bottom: 30px;
}

.apartment-list {
  display: flex;
  justify-content: space-between;
}

.apartment {
  width: 49%;
  text-align: left;
}

.apartment-image {
  width: 100%;
  height: 500px;
  background: url("/images/grundrisse/we_mitte.webp") no-repeat center center /
    cover;
  margin-bottom: 10px;
  margin-top: -20px;
  background-size: contain;
}

.apartment:nth-child(2) .apartment-image {
  background: url("/images/grundrisse/we_rechts.webp") no-repeat center center /
    cover;
  background-size: contain;
}

.apartment p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.apartment .btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--blau-farbe);
  color: var(--hintergrund-farbe);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}

.apartment .btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/more.svg") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: -5px;
}

.apartment .btn:hover {
  background-color: var(--dunkelblau-farbe);
}

.wohnung-details {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-farbe);
  margin-bottom: 20px;
}

.size-icon {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 2px;
  margin-bottom: 4px;
  vertical-align: middle;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.zimmer-icon {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 7px;
  margin-left: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.price-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  opacity: 0.45;
  margin-right: 9px;
  margin-left: 24px;
  vertical-align: middle;
  margin-bottom: 2px;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.trenner {
  width: 60%;
  height: 1px;
  background: var(--blau-farbe);
  margin-top: -4px;
  margin-bottom: 10px;
}

.ausstattung {
  background: var(--hintergrund-farbe);
  padding: 80px 0;
}

.ausstattung .container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.ausstattung h3 {
  color: var(--blau-farbe);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.viertel h3 {
  color: var(--blau-farbe);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ausstattung h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.ausstattung p {
  font-size: 18px;
  font-weight: 300;
  color: var(--text-farbe);
  margin-bottom: 20px;
}

.ausstattung-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.ausstattung-item {
  display: flex;
  align-items: top;
  width: 49%;
  gap: 15px;
  margin-bottom: 15px;
}

.ausstattung-item img {
  width: 98px;
  height: 98px;
  object-fit: cover;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.ausstattung-item h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ausstattung-item p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-farbe);
}

.ausstattung .btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--blau-farbe);
  color: var(--hintergrund-farbe);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.ausstattung .btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/more.svg") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: -5px;
}

.ausstattung .btn:hover {
  background-color: var(--dunkelblau-farbe);
}

.ausstattunggeplant {
  font-size: 14px;
  font-weight: 100;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-style: italic;
}

.image-slider {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  gap: 3px;
}

.slider img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blau-farbe);
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--hintergrund-farbe);
  padding: 10px 15px;
  z-index: 10;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

.slider-btn:hover {
  background-color: var(--dunkelblau-farbe);
}

.contact {
  background: var(--blau-farbe);
  padding: 80px 0;
  color: var(--hintergrund-farbe);
}

.contact .container {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-header {
  text-align: left;
  margin-bottom: 40px;
}

.contact-header h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--hintergrund-farbe);
}

.contact-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: -15px;
}

.contact-columns {
  display: flex;
  gap: 50px;
}

.contact-form {
  width: 55%;
}

.contact-map {
  width: 50%;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 18px;
  border: none;
  border-bottom: 1.5px solid white;
  background: transparent;
  color: var(--hintergrund-farbe);
  font-size: 16px;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
}

.contact form textarea {
  resize: none;
  height: 100px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  opacity: 0.85;
  color: white;
}

.required {
  font-size: 11px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
}

.contact .btn {
  background-color: var(--hintergrund-farbe);
  color: var(--blau-farbe);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}

.contact .btn::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("/images/icons/send.svg") no-repeat center center;
  background-size: contain;
  margin-right: 13px;
  margin-bottom: -5px;
}

.contact .btn:hover {
  background-color: var(--grau-farbe);
}

.contact-map {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.contact-address {
  padding-bottom: 25px;
  text-align: left;
}

.contact-address h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-address p {
  font-size: 16px;
  margin-bottom: 4px 0;
}

.contact-address a {
  color: var(--hintergrund-farbe);
  text-decoration: none;
}

.contact-address a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  background: var(--hintergrund-farbe);
  padding: 40px 0;
  color: var(--text-farbe);
  text-align: center;
  overflow: visible;
}

.footer::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 120%;
  background: url("/images/footer.svg") no-repeat center bottom;
  background-size: contain;
  opacity: 0.06;
  z-index: 1;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 26%,
    black 72%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 26%,
    black 72%,
    transparent
  );
}

.footer .container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--text-farbe);
}

.footer-logo img {
  height: 60px;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 25px;
}

.footer-links a {
  color: var(--text-farbe);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--blau-farbe);
}

.footer-copy {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.animate__headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.download-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  margin-bottom: 40px;
}

.download-table th,
.download-table td {
  border-bottom: 1px solid var(--blau-farbe);
  padding: 12px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
.download-table thead tr th {
  border-bottom: none;
}
.download-table tr:last-child td {
  border-bottom: none;
}

.download-table th {
  font-weight: 600;
  background-color: rgba(0, 117, 210, 0.075);
  color: var(--blau-farbe);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 20px;
}

.download-table img.icon {
  width: 32px;
  height: 32px;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--blau-farbe);
  color: var(--hintergrund-farbe);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}

.download-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/icons/download.svg") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 1px;
  margin-left: -6px;
}

.download-btn:hover {
  background-color: var(--dunkelblau-farbe);
}

.download-text {
  color: var(--blau-farbe);
}

.downloads-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  opacity: 0.4;
  margin-right: 9px;
  margin-left: 24px;
  vertical-align: middle;
  margin-bottom: 2px;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.downloads-iconalt {
  width: 42px;
  height: 42px;
  object-fit: contain;
  opacity: 0.4;
  margin-right: 9px;
  margin-left: 24px;
  vertical-align: middle;
  margin-bottom: 2px;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.team-section {
  text-align: center;
  padding: 60px 0;
  background-color: rgba(0, 117, 210, 0.075);
}

.team-section h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: start;
}

.team-container .team-member {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-container .sergej {
  background-image: url("/images/team/sergej.webp");
  background-size: 120%;
  background-position: 45% 30%;
}

.team-container .max {
  background-image: url("/images/team/max.webp");
  background-position: center;
}

.team-container div {
  text-align: left;
}

.team-section h3 {
  color: var(--blau-farbe);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.team-section p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.team-section .container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.team-text {
  color: var(--blau-farbe);
  font-weight: 400;
}

.icon-ausbildung {
  width: 24px;
  height: 24px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -3px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.icon-aufgaben {
  width: 22px;
  height: 22px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -2px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.tabelle-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

.tabelle-info {
  flex: 1;
  min-width: 225px;
}

.tabelle-resultate {
  flex: 2;
  text-align: left;
}

.bild-plagwitz-neu {
  flex: 1;
  width: 100%;
  height: auto;
  flex-grow: 1;
  background: url("/images/plagwitz/plagwitz.webp") no-repeat 45% center;
  background-size: cover;
  display: flex;
}

.viertel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: rgba(0, 117, 210, 0.075);
}

.plagwitz-item {
  display: flex;
  align-items: top;
  width: 49%;
  gap: 15px;
  margin-bottom: 15px;
}

.plagwitz-item img {
  width: 140px;
  height: 210px;
  object-fit: cover;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.plagwitz-item p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-farbe);
}

.plagwitz-item h4 {
  font-size: 16px;
  font-weight: 300;
  color: var(--blau-farbe);
  margin-bottom: 5px;
}

.plagwitz-item .icon-viertel {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 4px;
  margin-left: -4px;
  opacity: 0.45;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.plagwitz-item h3 {
  color: var(--blau-farbe);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

/* Slider-Abschnitt */

.slider-custom-section {
  margin: 0 auto;
  background-color: rgba(0, 117, 210, 0.075);
  padding: 80px 0;
}

.slider-custom-container {
  max-width: 1000px;
  height: auto;
  margin-inline: auto;
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  height: 350px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 350px;
  height: 350px;
  object-fit: cover;
  position: relative;
  transition-property: transform;
  display: block;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 8px;
  top: auto;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  opacity: 0.6;
  margin: 5px;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--blau-farbe);
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
